header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 27%;
    margin-top: 4vh;
    margin-bottom: 5vh;

    nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        font-family: "MetaPro","Trebuchet MS",Arial,sans-serif;
        font-size: 10px;
        text-align:center;  
        letter-spacing:5px;
        word-spacing: 1vh;
        color: rgb(0, 0, 0);
        text-transform:none;
        text-decoration: none;
        height: 60%;
        margin-top: 2vh;
        margin-bottom: 2vh;
        @media (min-width:768px){
            margin-top: 5vh;
            margin-bottom: 5vh;
        }

        ul{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            background-color: rgb(168, 167, 167);
            @media (min-width:1024px){
                background-color: white;
                justify-content: space-around;
            }
            
            
            li{
                height: 45%;
                list-style-type: none;
                padding: 4px 4px 4px 4px;
                @media (min-width:768px){ 
                padding: 10px 5px 10px 10px;
                }
                a{
                    text-decoration: none;
                    font-size: 160%;
                    @media (min-width:768px){
                        font-size: 220%;
                    }
                }
            }
        }
    }
}

